[Desktop Entry]
Type=Application
Name=mdwrite
GenericName=Markdown Writer
Comment=Dead-simple Markdown writing app
Exec=mdwrite %f
Icon=mdwrite
Terminal=false
Categories=Office;WordProcessor;TextEditor;
MimeType=text/markdown;text/x-markdown;text/plain;
Keywords=markdown;write;notes;text;editor;
StartupWMClass=mdwrite
